BETTER_AUTH_SECRET=
BETTER_AUTH_URL= ## Ignored on Vercel production

## Google OAuth
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET=

## Automatically elevated to superuser status on sign-in
ADMIN_EMAILS=

## Supabase / DB connection strings
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY= # Used for browser client (real-time)
DATABASE_ADMIN_URL=
DATABASE_URL=

## JWT Signing Key for Supabase Realtime
SUPABASE_JWT_PRIVATE_KEY=
SUPABASE_JWT_KID=
SUPABASE_JWT_ALG=ES256

## Signing key for creating extension JWT access/refresh tokens
EXTENSION_JWT_KID=
EXTENSION_JWT_PRIVATE_KEY=

## VAPID keys for sending Web Push notifications to Chrome extension
WEB_PUSH_VAPID_PUBLIC_KEY=
WEB_PUSH_VAPID_PRIVATE_KEY=
WEB_PUSH_VAPID_SUBJECT=
